@import url("sensores.css");
@import url("log.css");
/* Estilos de los elementos comunes a todas las paginas */

:root{
    --lighter: #ecebfa;
    --light: #ded7f6;
    --light-shadow: #dbd7f6a2;
    --main: #8e78e7;
    --dark: #6059a7;
    --darker: #372c61;
    --shadow: #3f308a56;
    --dark-shadow: #453e7ca1;
}

/* @font-face {
    font-family: 'brandon-grot-w01-light';
    src: url('../font/brandon_grot_w01_light-webfont.woff2') format('woff2'),
         url('../font/brandon_grot_w01_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

* {
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
    color: var(--main);
} 

.content{
    width: 100%;
    height: 100%;
    overflow: scroll;
} 

body{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    margin: 0px; 
} 

h1{
    font-size: xx-large;
    display: block;
}

h2{
    font-size: 20px;
    display: block;
}

h3{
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 5px solid white;
    margin: 0;
    padding: 18px 0;
}

ul{   
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/* HEADER AND ITS CONTENT */
header{
    width: 100%;
    height: auto;
    position: sticky;
    top:0;
    z-index: 2; /* Capa mas externa */
    margin: 0px;
}

    /* NAVBAR */
    nav.navbar{
        width: 100%;
        max-width: 100%;
        /* height: 50%;
        max-height: 50%; */
    }

    .navbar ul{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        background-color: var(--light);
    }

    .navbar li a{
        display: block;
        color: var(--main);
        text-align: center;
        padding: 15px 16px;
        text-decoration: none;
        font-size:larger;
    }

    .navbar li a:hover {
        color: var(--light);
        background-color: var(--main);
    }
/* END HEADER AND ITS CONTENT */

/* MAIN CONTENT  */

.main-container{
    border-top: 0;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    height: auto;
    max-height: calc(100% - 52.5px);
    overflow: auto;
    flex-wrap: wrap; /* Para que se pongan las fotos de los productos unas debajo de otras */
}
    
/* END MAIN CONT  */
