.evento{
    width: 100%;
    border-radius: 5px;
    background-color: var(--light);
    padding: 5px;
    margin-bottom: 10px;
    color: var(--dark-pink);
    overflow-y: auto;
}

.content ul{
    width: 100%;
}