.temperatura, .luz{
    width: 50%;
    height: 50%;
}

.temperatura{
    float: right;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
}

.valor{
    border-radius: 5px;
    display: block;
    background-color: var(--light);
    padding: 5px;
    margin: 10px;
    color: var(--dark-pink);
}

input[type="text"] {
    border: 2px solid var(--main);
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    margin-right: 3px;
    width: 50px;

}
form .input-range:focus{
    outline-color: var(--dark);
    
}

form .input-range::-webkit-inner-spin-button {
    -webkit-appearance: none;
}